* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body {
    background: #F0F1F7;
}

.linkTo {
    position: fixed;
    padding: 8px 17px;
    background-color: #30475E;
    bottom: 30px;
    right: 20px;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    width: fit-content;
    align-items: center;
    color: white;
    transition: all 0.2s ease;
}
.linkTo img {
    width: 30px;
    margin-right: 7px;
}

.linkTo:hover {
    background-color: #222831;
}

.header {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 10vh;
    width: 100%;
    background: #F0F1F7;
    z-index: 1;
}

.header .left .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header .left .logo img{
    width: 68px;
    height: 55px;
}

.header .right a {
    padding: 0 30px;
    font-size: 15px;
    font-weight: 600;
}

.header .right a:last-of-type {
    padding-right: 0;
}

.header .right a:first-of-type {
    padding-left: 0;
}

.heads {
    content: '';
    height: 10vh;
}

.footer {
    position: relative;
    background: #222831;
    box-sizing: border-box;
    padding: 0 50px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: white;
}

.footer .left p {
    font-size: 16px;
}

.footer .right {
    display: flex;
}

.footer .right p {
    padding: 0 20px;
    font-size: 14px;
}

.footer .right p:last-of-type {
    padding-right: 0;
}

.footer .right p:first-of-type {
    padding-left: 0;
}

@media only screen and (max-width: 736px) {
    .header {
        display: none;
    }
    .footer {
        display: none;
    }
}