input, textarea, button {
    border-style: none;
}

.allbody{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
}

.allbody .container-top .title-top h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.container-top{
    padding-bottom: 24px;
}

.container-top .title-top h1{
    text-align: center;
}


.container-top .title-top p{
    text-align: center;
}

.container-bottom{
    width: 80%;
    display: flex;
    justify-content: center;
}

.container-bottom .left-box{
    width: 35%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #30475E;
    padding: 25px;
}

.container-bottom .right-box{
    width: 35%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30475E;
}

.container-bottom .left-box .top-container {
    display: flex;
    justify-content: space-between;

}

.left-box .top-container .input-placeholder{
    width: 47%;
}

.input-placeholder{
    margin-bottom: 13px;
}

.input-placeholder input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 7px;
    margin-top: 5px
}

.input-placeholder textarea{
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 7px;
    resize: none;
    width: 100%;
}

.container-bottom label{
    color: white;
}

form button{
    /* font-weight: bolder; */
    font-size: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding: 12px 30px;
    border-radius: 15px;
    background-color: #ffff;
    color: #30475E;
    transition: all 0.3s;
}
form button:hover{
    background-color: #93B9E0;
    color: black;

}

