.content-1 {
    position: relative;
    background: url('/assets/image/bg.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-1 .container-item {
    content: '';
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100%;
}

.content-1 .container-item .top{
    height: 15vh;
    /* transform: skewY(-10deg); */
    width: 100%;
    background: url('/assets/image/rec1.svg');
    /* background-position: center; */
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-s */
    /* background-size: 100%; */
}

.content-1 .container-item .bottom{
    height: 10vh;
    width: 100%;
    background-color: #30475E;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-2 .title {
    margin-top: 33px;
}

.content-2 .title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.content-2 .content-2-body {
    display: flex;
    justify-content: center;
}

.content-2 .content-2-body .content {
    margin: 30px 40px;
    display: flex;
    align-items: center;
}

.content-2 .content-2-body .content .images {
    width: 80px;
    height: 75px;
    background: black;
    margin-right: 25px;
}

.content-2 .content-2-body .content .text p {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

.content-3{
    display: flex;
    align-items: center;
    margin-top: 33px;
    justify-content: center;
}

.content-3 .left {
    margin-right: 65px;
}

.content-3 .left img {
    width: 470px;
}

.content-3 .right {
    width: 585px;
}

.content-3 .right h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 7px;
}

.content-3 .right p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 50px;
}

.content-3 .right a {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding: 12px 17px;
    background-color: #30475E;
    color: white;
    border-radius: 15px;
    transition: all 0.3s;
}

.content-3 .right a:hover {
    background-color: #93B9E0;
    color: black;
}

.content-3 .right a i {
    margin-left: 13.5px;
    font-weight: bold;
    font-size: 23px;
}

.content-4 {
    margin: 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-4 .title h2{
    margin-bottom: 33px;
}

.content-4 .title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.content-4 .content-4-body {
    display: flex;
    align-items: center;
}

.content-4 .content-4-body .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 17px;
}

.content-4 .content-4-body .item img {
    width: 350px;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
}

.content-4 .content-4-body .item:first-of-type {
    margin-left: 0;
}

.content-4 .content-4-body .item:last-of-type {
    margin-right: 0;
}

.content-4 .content-4-body .item p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #345B95;
}

.content-4 .content-4-body .item p:first-of-type{
    margin-top: 24px;
    line-height: 12px;
    color: black;
}

