.content-1 {
    position: fixed;
    top: 10vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.others {
    position: relative;
    padding-bottom: 65px;
    background-color: #F0f1F7;
}

.plceholder{
    content: '';
    width: 100%;
    z-index: -999;
    height: 90vh;
}
.content-1 .container-item {
    height: 25vh;
    width: 100%;
}

.content-1 .container-item .bottom{
    height: 10vh;
    width: 100%;
    background-color: #30475E;
}



.content-2 {
    position: relative;
    /* z-index: 9999; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0f1F7;
}

.content-2 .title {
    /* z-index: 99999; */
    margin-top: 33px;
}

.content-2 .title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

/* .content .images img{
    width: 80px;
    height: 75px;
} */

.content-2 .content-2-body {
    display: flex;
    justify-content: center;
}

.content-2 .content-2-body .content {
    margin: 30px 40px;
    display: flex;
    align-items: center;
}

.content-2 .content-2-body .content .images {
    width: 80px;
    height: 75px;
    margin-right: 25px;
}
.content-2 .content-2-body .content .images img {
    width: 100%;
    height: 100%;
}

.content-2 .content-2-body .content .text p {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

.content-3{
    position: relative;
    background-color: #F0f1F7;
    display: flex;
    align-items: center;
    padding-top: 33px;
    justify-content: center;
}

.content-3 .left {
    margin-right: 65px;
}

.content-3 .left img {
    width: 470px;
}

.content-3 .right {
    width: 585px;
}

.content-3 .right h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 7px;
}

.content-3 .right p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 50px;
}

.content-3 .right a {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding: 12px 17px;
    background-color: #30475E;
    color: white;
    border-radius: 15px;
    transition: all 0.3s;
}

.content-3 .right a:hover {
    background-color: #93B9E0;
    color: black;
}

.content-3 .right a i {
    margin-left: 13.5px;
    font-weight: bold;
    font-size: 23px;
}

.content-4 {
    position: relative;
    background-color: #F0f1F7;
    padding: 65px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-4 .title h2{
    margin-bottom: 33px;
}

.content-4 .title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.content-4 .content-4-body {
    display: flex;
    align-items: center;
}

.content-4 .content-4-body .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 17px;
}

.content-4 .content-4-body .item img {
    width: 350px;
    border-radius: 28px;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
}

.content-4 .content-4-body .item:first-of-type {
    margin-left: 0;
}

.content-4 .content-4-body .item:last-of-type {
    margin-right: 0;
}

.content-4 .content-4-body .item p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #345B95;
}

.content-4 .content-4-body .item p:first-of-type{
    margin-top: 24px;
    line-height: 12px;
    color: black;
}



input, textarea, button {
    border-style: none;
}

.allbody{
    display: flex;
    width: 100%;
    position: relative;
    background-color: #F0f1F7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.allbody .container-top .title-top h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
}

.container-top{
    padding-bottom: 24px;
}

.container-top .title-top h1{
    text-align: center;
}


.container-top .title-top p{
    text-align: center;
}

.container-bottom{
    width: 90%;
    background-color: #30475E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.container-bottom .left-box{
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background-color: #30475E; */
    padding: 25px;
}

.container-bottom .right-box{
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #30475E; */
}

.container-bottom .left-box .top-container {
    display: flex;
    justify-content: space-between;

}

.left-box .top-container .input-placeholder{
    width: 47%;
}

.input-placeholder{
    margin-bottom: 13px;
}

.input-placeholder input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 7px;
    margin-top: 5px
}

.input-placeholder textarea{
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 7px;
    resize: none;
    width: 100%;
}

.container-bottom label{
    color: white;
}

form button{
    /* font-weight: bolder; */
    font-size: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding: 12px 30px;
    border-radius: 15px;
    background-color: #ffff;
    color: #30475E;
    transition: all 0.3s;
}

form button:hover{
    background-color: #93B9E0;
    color: black;

}

@media only screen and (max-width: 1171px) {
    .content-2 .content-2-body .content {
        margin: 30px 20px;
    }
    .content-2 .content-2-body .content .images {
        width: 70px;
        height: 65px;
    }
    .content-2 .content-2-body .content .text p {
        font-size: 20px;
        width: 150px;
    }


    .content-3 .left img {
        width: 370px;
    }
    .content-3 .right{
        width: 400px;
    }
    .content-3 .right h2 {
        font-size: 35px;
    }
    .content-3 .right p {
        font-size: 20px;

    }
    .content-4 .content-4-body .item img {
        width: 245px;
    }
}



@media only screen and (max-width: 895px) {
    .content-2 .title h2 {
        font-size: 25px ;
    }
    .content-2 .content-2-body .content {
        margin: 20px 5px;
    }
    .content-2 .content-2-body .content .images {
        width: 55px;
        height: 50px;
    }
    .content-2 .content-2-body .content .text p {
        font-size: 17px; /* -3px */
        width: 100px; /* - 50px */
    }
    .content-3 .left{
        margin-right: 20px;
    }
    .content-3 .right{
        width: 350px;
    }
    .content-3 .left img {
        object-fit: cover;
        /* height: 100%; */
        width: 300px;
    }
    .content-3 .right h2 {
        /* text-align: center; */
        font-size: 32px;
    }
    .content-3 .right p {
        font-size: 17px;
    }
    .content-3 .right a{
        font-size: 15px;
        padding: 10px 12px;
    }
    .content-4 .content-4-body .item{
        margin: 0 12px;
    }
    .content-4 .content-4-body .item p{
        font-size: 15px;
    }
    /* .content-4 .content-4-body .item img {
        width: 195px;
    } */
    .allbody .container-bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    .allbody .container-bottom .right-box, .allbody .container-bottom .left-box {
        /* border-radius: 0; */
        width: 100%;
        box-sizing: border-box;
        padding: 25px ;
    }
    .allbody .container-bottom .right-box {
        padding-bottom: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
        border: none;
    }
    .allbody .container-bottom .left-box {
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

}

@media only screen and (max-width: 736px) {
    .linkTo img{
        width: 20px;
    }
    .linkTo{
        font-size: 10px;
        padding: 3px 10px;
        bottom: 10px;
        right: 10px;
    }

    .content-2 .title h2{
        font-size: 20px;
    }
    .content-3 {
        flex-direction: column;
    }
    .content-3 .right h2{
        text-align: center;
        width: 100%;
        font-size: 25px;
    }

    .content-3 .right p{
        font-size: 15px;
    }
    .content-3 .left {
        margin-right: 0;
        /* width: 100%; */
        height: 150px;
    }

    .content-3 .left {
        width: 100%;
    }
    .content-3 .left img {
        height: 100%;
        width: 100%;
        /* background-position: top; */
        object-fit: cover;
    }
    .content-3 .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }
    .content-3 .right p{
        margin-bottom: 20px;
    }
    .content-3 .right a {
        border-radius: 10px;
        font-size: 12px;
        padding: 5px 10px;
    }
    .content-3 .right a i {
        font-size: 15px;
    }


    .content-4 {
        padding-top: 15px;
    }

    .content-4 .content-4-body .item {
        /* margin: 0; */
        margin-bottom: 20px;
    }
    .content-4 .content-4-body .item p:first-of-type{
        margin-top: 15px;
        /* margin-bottom: 10px; */
    }
    .container-bottom .left-box .top-container {
        flex-direction: column;
        justify-content: start;
    }
    .left-box .top-container .input-placeholder {
        width: 100%;
    }
    .mapouter, .gmap_canvas, .gmap_iframe{
        height: 300px!important;
    }

    /* temp */
    
}
    @media only screen and (max-width: 528px) {
        .content-4 .content-4-body .item img{
            width: 180px;
        }
    }
    @media only screen and (max-width: 408px) {
        .content-4 .content-4-body .item img{
            width: 150px;
        }
        .content-4 .content-4-body .item p{
            width: 145px;
            text-align: center;
        }
    }
    @media only screen and (max-width: 341px) {
        .content-4 .content-4-body .item img{
            width: 120px;
        }
        .content-4 .content-4-body .item p{
            width: 115px;
            text-align: center;
        }
    }
    @media only screen and (max-width: 627px) {
        .content-2 .title{
            margin-top: 15px;
        }

        .content-2 .content-2-body {
            flex-direction: column;
        }
        .content-2 .content-2-body .content{
            justify-content: center;
        }
        .content-2 .content-2-body .content .images {
            width: 35px;
            height: 30px;
        }
        .content-2 .content-2-body .content .text p{
            width: fit-content;
            font-size: 12px;
        }
        .content-3{
            padding-top: 15px;
        }
        .content-4 .title h2 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .content-4 .content-4-body .item p{
            font-size: 12px;
        }
        .allbody{
            margin-top: 17px;
        }
        .allbody .container-top .title-top h2{
            font-size: 20px ;
        }
        .mapouter, .gmap_canvas, .gmap_iframe{
            height: 200px!important;
        }
        form label, form input, form textarea{
            font-size: 12px;
        }
        form button{
            font-size: 13px;
            margin-top: 10px;
            padding: 5px 20px;
        }
        .input-placeholder{
            margin-bottom: 5px;
        }
    }
