.content-1 {
    position: fixed;
    top: 10vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.others {
    position: relative;
    padding-bottom: 65px;
    background-color: #F0f1F7;
}

.plceholder{
    content: '';
    width: 100%;
    z-index: -999;
    height: 90vh;
}
.content-1 .container-item {
    height: 25vh;
    width: 100%;
}

.content-1 .container-item .bottom{
    height: 10vh;
    width: 100%;
    background-color: #30475E;
}



.content-2 {
    position: relative;
    /* z-index: 9999; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0f1F7;
}

.content-2 .title {
    z-index: 99999;
    margin-top: 33px;
}

.content-2 .title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.content .images img{
    width: 80px;
    height: 75px;
}

.content-2 .content-2-body {
    display: flex;
    justify-content: center;
}

.content-2 .content-2-body .content {
    margin: 30px 40px;
    display: flex;
    align-items: center;
}

.content-2 .content-2-body .content .images {
    width: 80px;
    height: 75px;
    margin-right: 25px;
}

.content-2 .content-2-body .content .text p {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

.content-3{
    position: relative;
    background-color: #F0f1F7;
    display: flex;
    align-items: center;
    padding-top: 33px;
    justify-content: center;
}

.content-3 .left {
    margin-right: 65px;
}

.content-3 .left img {
    width: 470px;
}

.content-3 .right {
    width: 585px;
}

.content-3 .right h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 7px;
}

.content-3 .right p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 50px;
}

.content-3 .right a {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding: 12px 17px;
    background-color: #30475E;
    color: white;
    border-radius: 15px;
    transition: all 0.3s;
}

.content-3 .right a:hover {
    background-color: #93B9E0;
    color: black;
}

.content-3 .right a i {
    margin-left: 13.5px;
    font-weight: bold;
    font-size: 23px;
}

.content-4 {
    position: relative;
    background-color: #F0f1F7;
    padding: 65px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-4 .title h2{
    margin-bottom: 33px;
}

.content-4 .title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.content-4 .content-4-body {
    display: flex;
    align-items: center;
}

.content-4 .content-4-body .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 17px;
}

.content-4 .content-4-body .item img {
    width: 350px;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
}

.content-4 .content-4-body .item:first-of-type {
    margin-left: 0;
}

.content-4 .content-4-body .item:last-of-type {
    margin-right: 0;
}

.content-4 .content-4-body .item p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #345B95;
}

.content-4 .content-4-body .item p:first-of-type{
    margin-top: 24px;
    line-height: 12px;
    color: black;
}



input, textarea, button {
    border-style: none;
}

.allbody{
    display: flex;
    width: 100%;
    position: relative;
    background-color: #F0f1F7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.allbody .container-top .title-top h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.container-top{
    padding-bottom: 24px;
}

.container-top .title-top h1{
    text-align: center;
}


.container-top .title-top p{
    text-align: center;
}

.container-bottom{
    width: 90%;
    display: flex;
    justify-content: center;
}

.container-bottom .left-box{
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #30475E;
    padding: 25px;
}

.container-bottom .right-box{
    width: 40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30475E;
}

.container-bottom .left-box .top-container {
    display: flex;
    justify-content: space-between;

}

.left-box .top-container .input-placeholder{
    width: 47%;
}

.input-placeholder{
    margin-bottom: 13px;
}

.input-placeholder input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 7px;
    margin-top: 5px
}

.input-placeholder textarea{
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px 7px;
    resize: none;
    width: 100%;
}

.container-bottom label{
    color: white;
}

form button{
    /* font-weight: bolder; */
    font-size: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    padding: 12px 30px;
    border-radius: 15px;
    background-color: #ffff;
    color: #30475E;
    transition: all 0.3s;
}
form button:hover{
    background-color: #93B9E0;
    color: black;

}

