.pric1{
    text-align: center;
    line-height: 36px;
}

.box-pricing{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
    padding: 16px 0;
}

.content_pricing{
    display: flex;
    width: 1072px;
    justify-content: space-between;
    align-items: center;
}

.box1{
    box-sizing: border-box;
    width: 323px;
    height: 559px;
    left: 184px;
    top: 341px;

    background: #D9D9D9;
    border: 1px solid #051C2C;
    border-radius: 26px;
}

.box2{
    box-sizing: border-box;

    width: 352px;
    height: 596px;

    background: #BDC0C4;
    border: 1.2px solid #051C2C;
    border-radius: 26px;
}

.content_box{
    margin: 37px 29px 0 29px;
}

.btn_get{
    margin-top: 110px;
    width: 265px;
    height: 43px;
    background: #222831;
    border-radius: 11px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.btn_get a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    text-decoration: none;

}

.line{
    background-color: black;
    height: 1px;
    width: 100%;
    margin-top: 85px;
}

.content_pricing{
    display: flex;
    width: 1072px;
    justify-content: space-evenly;
}
.box1{
    box-sizing: border-box;
    width: 323px;
    height: 559px;
    left: 184px;
    top: 341px;
    
    background: #D9D9D9;
    border: 1px solid #051C2C;
    border-radius: 26px;
}
    
.content_box{
    margin: 37px 29px 0 29px;
}
    
.btn_get{
    margin-top: 110px;
    width: 265px;
    height: 43px;
    background: #222831;
    border-radius: 11px;
    display: flex;
    justify-content:center;
    align-items:center;
}
    
    .btn_get a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
    
        text-align: center;
    
        color: #FFFFFF;
        text-decoration: none;
    
    }
    
    .line{
        background-color: black;
        height: 1px;
        width: 100%;
        margin-top: 85px;
    }

.btn-contactme{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 484px;
    height: 30px;
    left: 478px;
    top: 965px;
    
    border: 1px solid #222831;
    border-radius: 12px;
}

.box-desc{
    font-size: 17px;
    display: flex;
    flex-direction: column;
}

.pricing-bot{
    display: flex;
    justify-content: center;
    padding: 0 0 16px;
}

.pricing-bot a{
    font-family: 'Poppins';
    font-style: normal;
}



