.pric1{
    text-align: center;
    line-height: 36px;
}

.container-box{
    display: flex;
    justify-content: space-around;
}

.linepr{
    margin: 5% 5%;
    height: 5px;
    background-color: black;
}

.box-1{
box-sizing: border-box;
width: 323px;
height: 559px;
left: 184px;
top: 341px;

background: #D9D9D9;
border: 1px solid #051C2C;
border-radius: 26px;
}

.box-2{
box-sizing: border-box;
width: 352px;
height: 596px;
left: 544px;
top: 323px;
background: #BDC0C4;
border: 1.2px solid #051C2C;
border-radius: 26px;
}